*{
    margin: 0;
}
body{
    font-family: "StratosSkyeng",sans-serif;
    text-align: center;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
    text-align: justify;
    margin-top: 15px;
}
div{
    width: 700px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}
img{
    width: 800px;
    margin-top: 50px;
    border-radius: 25px;
}
a{
    display: block;
    font-size: 25px;
    margin: 50px;
}